<div class="my-home" ng-controller="MyController">
    <style>
        html,body{
            background:#F1F1F1;
        }
    </style>
    <!--头部开始-->
    <div class="set_top">
        <span class="f16" style="margin-left: 0.64rem">我的</span>
        <i class="icon personal_set fr" ui-sref="my.settings_index"></i>
    </div>
    <!--头部结束-->
    <!--资料信息开始-->
    <div class="information">
        <div class="head_name clear" ui-sref="my.account_settings">
            <img src="{{user.headimgurl}}" err-src="static/img/userdefault.png">
            <i  class="icon_member" ng-class="icon_member"></i>
            <div class="name_birthday fl">
                <div class="name f16" ng-bind="user.nickname"></div>
                <div class="view f10">查看或编辑个人资料</div>
            </div>
            <i class="arrow"></i>
        </div>
        <div class="beli_sign">
            <div class="beli fl" ui-sref="my.beili">
                <i class="icon fl i-beily"></i>
                <div class="number f20 fr" ng-bind="bellyremain"></div>
            </div>
            <div class="sign fr">
                <div class="explain f10 fl">
                    <div class="fist" ng-if="sign_state=='1'">开始连续签到</div>
                    <div ng-if="sign_state=='1'">今日签到可获得{{daybeily.today}}贝里</div>
                    <div class="fist" ng-if="sign_state=='2'">今日已签到</div>
                    <div ng-if="sign_state=='2'">明日签到可得{{daybeily.tomorrow}}贝里</div>
                </div>
                <button class="sign_button f14 linear fr" ng-click="sign(bellyremain,daybeily.today)" ng-if="sign_state=='1'">立即签到</button>
                <button class="sign_button f14 linear fr" ng-if="sign_state=='2'">已签到</button>
            </div>
        </div>
    </div>
    <!--资料信息结束-->
    <!--列表开始-->
    <div class="good_state pd_rl16 f14">
        <ul class="clear">
            <li class="fl" ui-sref="my.orders({status:''})">
                <a href="" class="i-all"></a>
                <p>全部</p>
            </li>
            <li class="fl" ui-sref="my.orders({status:'-1'})">
                <a href="" class="i-waiting-pay"></a>
                <p>待支付</p>
            </li>
            <li class="fl" ui-sref="my.orders({status:'0'})">
                <a href="" class="i-waiting-delivery"></a>
                <p>待发货</p>
            </li>
            <li class="fl" ui-sref="my.orders({status:'1'})">
                <a href="" class="i-waiting-receipt"></a>
                <p>待收货</p>
            </li>
            <li class="fl" ui-sref="my.orders({status:'2'})">
                <a href="" class="i-complete"></a>
                <p>已完成</p>
            </li>
        </ul>
    </div>
    <!--列表结束-->
    <!--列表开始-->
    <div class="my_list pd_rl12">
        <ul>
            <!--<li class="pd_tb14 clear" ui-sref="my.beili">-->
                <!--<a class="i-beily"></a>-->
                <!--<span>我的贝里</span>-->
                <!--<i class="arrow"></i>-->
            <!--</li>-->
            <li class="pd_tb14 clear" ui-sref="my.member">
                <a class="i-member"></a>
                <span>我的会员</span>
                <div class="fr">{{grade}}</div>
                <i class="arrow"></i>
            </li>
        </ul>
    </div>
    <div class="my_list pd_rl12">
        <ul>
            <li class="pd_tb14 clear" ui-sref="my.coupon({status:'0'})">
                <a class="i-coupon"></a>
                <span>我的卡劵</span>
                <div class="fr">{{user.coupon_num}}张</div>
                <i class="arrow"></i>
            </li>
            <li class="pd_tb14 clear" ui-sref="my.comment">
                <a class="i-comment"></a>
                <span>我的评论</span>
                <i class="arrow"></i>
            </li>
            <li class="pd_tb14 clear" ui-sref="my.collect">
                <a class="i-favorite"></a>
                <span>我的收藏</span>
                <i class="arrow"></i>
            </li>
            <!--<li class="pd_tb14 clear" ui-sref="my.precious">-->
                <!--<a class="i-treasure"></a>-->
                <!--<span>我的夺宝</span>-->
                <!--<i class="arrow"></i>-->
            <!--</li>-->
        </ul>
    </div>
    <!--列表结束-->
    <div class="my_list pd_rl12">
        <ul>
            <li class="pd_tb14 clear" ui-sref="my.share">
                <a class="i-invita"></a>
                <span>邀请好友</span>
                <i class="arrow"></i>
            </li>
            <li class="pd_tb14 clear">
                <a class="i-service"></a>
                <span><a href="tel:4008798613" style="width: 100%;color: #222222;background:none;">联系客服</a></span>
                <i class="arrow"></i>
            </li>
            <li class="pd_tb14 clear" ui-sref="my.settings_problems">
                <a class="i-problem"></a>
                <span>常见问题</span>
                <i class="arrow"></i>
            </li>
        </ul>
    </div>
    <menu></menu>
    <!--签到日历开始-->
    <sign></sign>
    <!--签到日历结束-->
</div>