<div class="message_system_detail" ng-controller="MessageSystemDetailController">
    <!--标题开始-->
    <div class="head pd_tb14">
        <a></a>
        <span class="headline f18">消息详情</span>
    </div>
    <!--标题结束-->
    <!--消息详情开始-->
    <div class="system_detail_list pd_rl12">
        <ul>
            <li class="pd_rl16">
                <img>
                <div class="words">
                    <p>
                        <span class="name f12">系统消息</span>
                        <span class="time f10 fr">3分钟前</span>
                    </p>
                    <p>
                        <span class="content f12">您购买杭州站］2017五月天LIEF［人生无线司］巡回演唱会下单成功！您的订单编号为170316481，发货后我们会尽快用短信通知您！如有疑问请致电客服热线400-879-8613,感谢您的支持！！</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--消息列表结束-->
</div>