<div class="countdetail" ng-controller="CounDetailController">
    <style>
        html,body{
            background:#F1F1F1;
        }
    </style>
    <!--头部开始-->
    <div class="head pd_tb14">
        <a class="back" go-back></a>
        <span class="headline f18">计算详情</span>
    </div>
    <!--头部结束-->
    <!--计算公式开始-->
    <div class="bor pd_rl12 pd_rl16">
        <p class="f14 bt10">计算公式</p>
        <p class="f12">【（数值A+数值B）÷商品所需人次】÷本期参与人数（取余数）＋10000001</p>
    </div>
    <div class="bor pd_rl12 pd_rl16 nobg bgfff" style="border:none;border-bottom:1px solid #E5E5E5">
        <p class="f14 bt10 col222">数值A</p>
        <p class="f14 bt10 col6b6b">＝最后50条记录时间值累加</p>
        <p class="f14 col6b6b">＝
            <span class="colff5" ng-hide="a_value">夺宝进行中</span>
            <span class="colff5" ng-show="a_value">{{a_value}}</span>
        </p>
    </div>
    <div class="bor pd_rl12 pd_rl16 nobg bgfff">
        <p class="f14 bt10 col222">数值B</p>
        <p class="f14 bt10 col6b6b">＝最后一期中国福利彩票（重庆）时时彩开奖号</p>
        <p class="f14 col6b6b">＝
            <span class="colff5" ng-hide="b_value">等待揭晓中</span>
            <span class="colff5" ng-show="b_value">{{a_value}}</span>
        </p>
    </div>
    <div class="bor pd_rl12 pd_rl16 nobg bgfff" style="border:none;">
        <p class="f14 bt10 col222">计算结果</p>
        <p class="f14 col6b6b"  ng-hide="prize_no">等待揭晓中</p>
        <p class="f14 col6b6b"  ng-show="prize_no">幸运号码:<span style="color: #FF5000">{{prize_no}}</span></p>
    </div>
    <!--计算公式结束-->
</div>
