<div class="list" ng-controller="ListController">
    <!--头部开始-->
    <div class="top">
        <span class="title">分类</span>
        <i class="search" ui-sref="main.search"></i>
        <i class="screen {{sf==true?'active':''}}" ng-click="toggle()"></i>
    </div>
    <!--头部结束-->
    <!--筛选开始-->
    <div ng-show="sf">
      <div class="bg" ng-click="sf = false"></div>
      <div class="Sortsearch pd_rl12">
          <div class="hot_block" ng-click="filter('hot','desc')">
              <i ng-class="{true: 'hotter_active fl', false: 'hotter'}[isHot]"></i>
              <span ng-class="{true: 'active f14 fl', false: 'f14'}[isHot]">热度</span>
              <i class="check" ng-show="isHot"></i>
          </div>
          <div class="time_block" ng-click="filter('date','asc')">
              <i ng-class="{true: 'time', false: 'time_active fl'}[isHot]"></i>
              <span ng-class="{true: 'f14', false: 'active f14 fl'}[isHot]">时间</span>
              <i class="check" ng-hide="isHot"></i>
          </div>
      </div>
    </div>
    <!--筛选结束-->
    <!--导航开始-->
    <div class="nav swiper-container">
        <div class="swiper-wrapper clear" id="swiper-wrapper">
            <div ng-repeat="nav in navs" class="swiper-slide" on-list-finish-render="navFinishRender">
                <a class="{{kind == nav.type?'active':''}}" ng-click="switch({{nav.type}})" >
                    {{nav.name}}
                </a>
            </div>
        </div>
    </div>
    <!--导航结束-->
    <!--列表开始 -->
    <div class="hot" ng-controller="PublicController">
        <div class="hot-list">
            <ul infinite-scroll="goods.nextPage()" infinite-scroll-disabled='goods.busy' infinite-scroll-distance="1">
                <li class="flag" ng-repeat="good in goods.items" on-list-finish-render="listFinishRender" ui-sref="main.detail({good_id:{{good.id}}})">
                    <a class="figure flag-item">
                        <i class="label f8" ng-show="good.coupon_label"><span ng-bind="good.coupon_label"></span></i>
                        <img ng-src="{{good.thumb}}" alt="">
                    </a>
                    <div class="figcaption flag-item">
                        <div class="flag-title">
                            <a title="" ng-bind="good.title"></a>
                        </div>
                        <div class="flag-price" ng-bind="good.date"></div>
                        <div class="flag-type" ng-bind="good.site_title"></div>
                        <div class="flag-type">
                            <strong ng-hide="good.state=='即将开票'&&good.price=='0'" ng-bind="good.price"></strong>
                            <strong ng-show="good.state=='即将开票'&&good.price=='0'" class="state_f12">待定</strong>
                            <span ng-hide="good.state=='即将开票'&&good.price=='0'">元起</span>
                        </div>
                        <a class="flag-btn" href="" ng-style="btnSetColor(good.state)" ng-bind="btnText(good.state)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--列表结束-->
    <!--暂无数据开始-->
    <div class="nodata" ng-show="goods.nodata">
        <div class="no_classify"></div>
        <p class="f14">这里没演出，去隔壁看看吧</p>
    </div>
    <!--暂无数据结束-->
    <menu></menu>
</div>