<div class="coupon" ng-controller="PayCouponController">
    <style>
        html,body{
            background:#F1F1F1;
        }
    </style>
    <!--标题开始-->
    <div class="head pd_tb14">
        <a class="back" go-back></a>
        <span class="headline f18">选择优惠券</span>
        <span class="rule f14">使用规则</span>
    </div>
    <!--标题结束-->
    <!--优惠券开始-->
    <div>
        <div class="certificate clear" ng-repeat="coupon in coupons" ng-click="select('{{coupon.id}}','{{coupon.ratio1}}','{{coupon.ratio2}}','{{coupon.type}}')">
            <div class="price fl">
                <P class="f16">
                    <span ng-if="coupon.type=='满减'">¥</span>
                    <span class="f30" ng-bind="coupon.ratio1"></span>
                    <span ng-if="coupon.type=='折扣'">折</span>
                </P>
            </div>
            <div class="condition_vld fl">
                <p class="condition f20" ng-bind="coupon.type=='满减'?coupon.remark:'全场通用'"></p>
                <p class="vld f10" ng-bind="'有效期至'+coupon.expire_date"></p>
            </div>
        </div>
    </div>
    <!--优惠券结束-->
    <!--暂无数据开始-->
    <div class="nodata" ng-show="coupons.length==0">
        <div class="no_coupon"></div>
        <p class="f14">哎呀，没有相关折扣</p>
    </div>
    <!--暂无数据结束-->
</div>
