<div class="paying" ng-controller="PayingController">
    <style>
        html,body{
            background:#F1F1F1;
        }
    </style>
    <!--头部开始-->
    <div class="head pd_tb14">
        <a class="back" go-back></a>
        <span class="headline f18">付款</span>
    </div>
    <!--头部结束-->
    <!--商品详情开始-->
    <div class="paying_detail pd_rl16 pd_rl12 clear">
        <div class="thumb fl br">
            <img src="{{thumb}}" alt="" class="br">
        </div>
        <div class="award_info fr f12">
            <p class="f12 hd2" ng-bind="title"></p>
            <p class="cishu">参与次数：<span ng-bind="num"></span>人次</p>
            <p>商品合计：<span ng-bind="num*100"></span>贝里</p>
        </div>
    </div>
    <!--商品详情结束-->
    <!--收货信息开始-->
    <div class="receiving pd_rl16 pd_rl12">
        <div class="title">
            <h4 class="f14">收货信息</h4>
        </div>
        <div class="address f12" ng-show="address.id" ui-sref="main.pay_address({order_id:'{{periodId}}',src:2})">
            <p><span>{{address.name}}</span><span>{{address.mobile}}</span></p>
            <p>{{address.province}}{{address.city}}{{address.district}}{{address.address}}</p>
            <i class="arrow"></i>
        </div>
        <div class="address f12" ng-hide="address.id" ui-sref="main.pay_address({order_id:'{{periodId}}',src:2})">
            <p>暂无地址可用点击添加</p>
        </div>
    </div>
    <!--收货信息结束-->
    <!--贝里付款开始-->
    <div class="beili pd_rl12 pd_rl16">
        <p>
            <i class="icon_beili"></i>
            <span class="f14">贝里</span>
            <i class="choose"></i>
        </p>
    </div>
    <!--贝里付款结束-->
    <!--底部按钮开始-->
    <div class="shop_box paying-btn">
        <span class="f16">{{num*100}}贝里</span>
        <a href="" class="linear br f16" ng-click="goPayresult()">确认支付</a>
    </div>
    <!--底部按钮结束-->
</div>
