<div class="ticket" ng-controller="TicketController">
    <style>
        html,body{
            background:#f1f1f1;
        }
    </style>
    <!--标题开始-->
    <div class="head pd_tb14">
        <a class="back" ui-sref="main.detail({good_id:id})"></a>
        <span class="headline f18">选择门票</span>
    </div>
    <!--标题结束-->
    <!--时间开始-->
    <div class="time">
        <div class="time_scroll swiper-container">
            <ul class="clear swiper-wrapper">
                <li class="swiper-slide {{$index == paras.planIndex?'active':''}}" ng-repeat="plan in plans" ng-click="switchPlan($index)" ng-style="{width:'{{plans.length<=3?'2.85rem':''}}'}">
                    <p ng-bind="plan.name | buildDate:'before'">03月11日</p>
                    <p ng-bind="plan.name | buildDate:'after'">周六20:00</p>
                </li>
            </ul>
        </div>
    </div>
    <!--时间结束-->
    <!--票面价格开始-->
    <div class="fare fare_type">
        <h4>票面价格</h4>
        <div class="fare_list">
            <ul class="clear" ng-repeat="cat in cats">
                <li class="{{gory.status?'':'disabled'}} {{$parent.$index == paras.catIndex1 && $index == paras.catIndex2 ?'active':''}}" ng-repeat="gory in cat.children" ng-click="switchCat($parent.$index,$index,gory.status,$event)">
                    <span ng-hide="gory.status==''" ng-style="ticketType(gory.name,gory.children[0].price).defstyle" ng-bind="ticketType(gory.name,gory.children[0].price).ticketText"></span>
                    <p ng-bind="cat.id+gory.name">内场755元</p>
                    <p ng-show="gory.status==''">到货提醒</p>
                </li>
            </ul>
        </div>
    </div>
    <!--票面价格结束-->
    <!--座位信息开始-->
    <div class="fare seat" style="padding-top:0">
        <h4>座位信息</h4>
        <div class="fare_list">
            <ul class="clear">
                <li class="{{$index == paras.priceIndex ?'active':''}}" ng-hide="!price.status" ng-repeat="price in prices" ng-click="switchPrice($index,price.status)" ng-show="sf || $index < 6">
                    <span ng-show="price.num>=10" ng-bind="price.name"></span>
                    <p ng-show="price.num<10" ng-bind="price.name">随机连坐</p>
                    <p ng-show="price.num<10" ng-bind="'仅剩'+price.num+'张'"></p>
                </li>
            </ul>
        </div>
    </div>
    <!--座位信息结束-->
    <!--商品数量开始-->
    <div class="good_num clear">
        <div class="shuliang fl">
            <h4>数量</h4>
        </div>
        <div class="quantity fl clear">
            <div class="sub {{num>1?'active':''}} fl" ng-click="subNum()"></div>
            <div class="num fl"><input type="text" ng-model="num" disabled></div>
            <div class="add {{num==max?'active':''}} fl" ng-click="addNum()"></div>
        </div>
    </div>
    <!--商品数量结束-->
    <!--立即支付开始-->
    <div class="total_box shop_box clear">
        <div class="total_price fl">
            <p><span ng-bind="total | currency:'¥'">¥5880.00</span><span>({{num}}张)</span></p>
        </div>
        <div class="total_btn fr" ng-click="createOrder()">
            立即支付
        </div>
    </div>
    <!--立即支付结束-->
    <!--到货提醒弹窗开始-->
    <div class="mask1">
        <div class="alert_box1 pd_rl16 pd_rl12" style="padding-bottom:0">
            <div class="alert_con">
                <div class="alert_title f16">到货提醒</div>
                <div class="subscribe_time f14 pd_rl12">
                    <p>时间</p>
                    <p ng-bind="time">2017-01-15周日19:00</p>
                </div>
                <div class="subscribe_time f14 pd_rl12" style="margin-top:0">
                    <p>票面价格</p>
                    <p ng-bind="price2+'元'">480元</p>
                </div>
                <div class="subscribe_tips pd_rl16 f12">提示：本票价已售罄，我们将纪录您的信息，在有票时通知您</div>
                <div class="subscribe_btn f16">
                    <p>手机号：<input type="number" placeholder="请填写手机号" ng-model="telphone_no" style="border:none;border: 1px solid #e5e5e5;border-radius: 0.1rem;height: 0.6666rem;-webkit-appearance: none;width: 4.8rem"></p>
                    <a href="" class="f16" ng-click="submitPop()">提交</a>
                </div>
            </div>
            <div class="cloes" ng-click="close()"></div>
        </div>
    </div>
    <!--到货提醒弹窗结束-->
</div>
