<div class="treasure" ng-controller="TreasureController">
    <!--头部开始-->
    <div class="head pd_tb14">
        <a class="back" ui-sref="main.index"></a>
        <span class="headline f18">贝里夺宝</span>
    </div>
    <!--头部结束-->
    <!--中奖消息开始-->
    <div class="publish pd_rl12 pd_tb8 clear">
        <i class="notice"></i>
        <div class="win f14 fl">
            <ul class="slideUl">
                <slide-follow class="hd1" dataset-data = "datasetData"></slide-follow>
            </ul>
        </div>
    </div>
    <!--中奖消息结束-->
    <!--即将开奖列表开始-->
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <div class="latests pd_rl12 pd_rl16 swiper-container" ng-hide="latests.length<4">
        <ul class="clear swiper-wrapper">
            <li class="fl swiper-slide" ng-repeat="lates in latests" ui-sref="main.award({award_id:lates.id})">
                <div class="thumb thumb_size">
                    <img src="{{lates.thumb | split}}" alt="">
                </div>
                <div class="title f10">
                    <p class="hd1" ng-bind="lates.title"></p>
                </div>
                <div class="time clear">
                    <i class="i_time"></i>
                    <p order-time order-time-ser="lates.finish_time"></p>
                </div>
            </li>
        </ul>
    </div>
    <script src="static/js/vendor/swiper.min.js"></script>
    <!--即将开奖列表结束-->
    <!--过滤按钮开始-->
     <div class="treasure-tabs f16">
         <ul class="clear">
             <li ng-class="{active:isActive('')}"><a ng-click="filter('')">进度</a></li>
             <li ng-class="{active:isActive('date')}"><a ng-click="filter('date')">最新</a></li>
         </ul>
     </div>
    <!--过滤按钮结束-->
    <!--夺宝列表开始-->
    <div class="treasure-list pd_rl12 pd_rl16">
        <ul class="clear" infinite-scroll="treasures.nextPage()" infinite-scroll-disabled='treasures.busy' infinite-scroll-distance="0">
            <li ng-repeat="trea in treasures.items" ui-sref="main.award({award_id:trea.id})">
                <div class="list_thumb br">
                    <img ng-src="{{trea.thumb | split}}" alt="" class="br">
                </div>
                <div class="list-title clear">
                    <p class="f14 hd1">{{trea.title}}</p>
                </div>
                <div class="info clear">
                    <div class="progress fl">
                        <p class="f12">揭晓进度：<span>{{trea.progress}}%</span></p>
                        <div class="bar">
                            <div class="barbg"></div>
                            <div class="bar" style="width: {{trea.progress}}%"></div>
                        </div>
                    </div>
                    <div class="btn fr br">
                        <a href="" class="f12">{{trea.progress==100?'待揭晓':'立即参与'}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--夺宝列表结束-->
    <!--暂无数据开始-->
    <div class="nodata" ng-show="treasures.nodata">
        <div class="no_beili"></div>
        <p class="f14">宝藏沉入海底了～快去捞捞</p>
    </div>
    <!--暂无数据结束-->
</div>